body   {
       background-color: rgb(4, 4, 17);


margin-top: auto;
border: 4px solid;
width: 30%;
height: auto;
border-radius: 3px;
}
{
       .singup-box
}

}
.form input{
       width: 98%;
       height: 20%px;
       border: nune;
       border: 1px solid gray;
       border-radius: 6px;
       outline: none;
       margin-bottom: 50%;
       background-color: rgb(249, 211, 165);
       /* unvisited link */
 a:link {
       color: red;
     }


}

{

}
